{% extends "base.html" %}

{% block title %} Home Page {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask web page </title>
</head>
<body>
   <h1> URL Shortener </h1>

<form action="your_url" method="post">
  <label>Website URL</label>
    <input type="url" name="url" value="" required>
    <br>
    <label>Short Name</label>
    <input type="text" name="code" value="" required>
    <br>
    <input type="submit" value="Shorten">
</form>
      <img src="E:\all about learning\computer science\pycharm\De_scrapper\images\Acer Nitro 5.png" alt="Chart">

</body>
</html>
{% endblock%}
